anyio
psycopg2-binary
charset-normalizer
cryptography
defusedxml
dj-rest-auth
Django
django-allauth
django-cors-headers
djangorestframework
djangorestframework-simplejwt
dnspython
email-validator
fastapi
h11
oauthlib
Pillow
PyJWT
pydantic
python3-openid
pytz
requests
requests-oauthlib
sniffio
sqlparse
starlette
typing-extensions
uvicorn
celery
celery[redis]
python-decouple
django-filter
dj-config-url
drf-yasg
djoser
stripe